@import './navbar.scss';
@import './point.scss';
@import './panel.scss';

* {
  margin: 0;
  padding: 0;
}

html, body {
  overflow: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: -1;
}

.icon {
  background-color: #F5F5F5;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  svg: {
    width: 25px;
    height: 25px;
  }
}
